@font-face {
  font-family: Inter;
  src: url(assets/Inter-Medium.ttf);
}

@font-face {
  font-family: BlexMono;
  src: url(assets/BlexMonoNerdFont-Medium.ttf);
}

:root {
  /*
  - format, grammar, syntax
  - color
  - spacing
  - durations
  - typography
  - any other design token-related specifications
  https://github.com/design-tokens/community-group/blob/c1e26fbc1b2a4524fdfde6757d26520a771d7328/CHARTER.md?plain=1#L15
   */

  /* colors */
  --gray0: #20242d;
  --gray1: #2a303a;
  --gray9: #eee;
  --blue0: #069;

  /* typo */
  --font-sans-serif: Inter, sans-serif;
  --font-monospace: 'BlexMono Nerd Font';
  --font-size1: ;
  --font-size2: ;
  --font-size3: ;
  --font-medium: ;

  /* spacing */
  --spacing1: 5px;
  --spacing2: 10px;

  /* border */
  --border-radius: 4px;

  /* window */
  --window-bg: var(--gray1);
  --window-box-shadow: 0 0 16px rgba(0 0 0 / 0.5);

  /* titlebar */
  --titlebar-bg: var(--gray0);
  --titlebar-fg: var(--gray9);
  --titlebar-padding: var(--spacing1);

  /* panel */
  --panel-bg: var(--gray1);
  --panel-padding: var(--spacing2);

  /* view */
  --view-bg: var(--gray0);
  --view-padding: var(--spacing2);

  /* status */
  --status-bg: var(--gray1);
  --status-fg: var(--gray9);
  --status-padding: var(--spacing2);

  /* button */
  --button-bg: var(--blue0);
  --button-fg: var(--gray9);
  --button-bg-hover: var(--blue0);
  --button-fg-hover: var(--gray9);
  --button-bg-active: var(--blue0);
  --button-fg-active: var(--gray9);
  --button-bg-focus: var(--blue0);
  --button-fg-focus: var(--gray9);
  --button-padding: var(--spacing2);
  --button-border-radius: var(--border-radius);
  --button-box-shadow: 
  inset 0 1px 1px rgba(255 255 255 / .2),
  0px 0 4px rgba(0 0 0 / .5);
}

* {
  box-sizing: border-box;
}

body, button {
  font-family: var(--font-sans-serif);
}

body {
  margin: 0;
  padding: 0;
  background: url(assets/wallpaper.jpg);
  background-size: 100% 100% cover;
  color: var(--gray9);
}

.window {
  display: grid;
  grid-template-areas:
    "titlebar titlebar"
    "panel view"
    "status status";
  grid-template-columns: 180px 1fr;
  grid-template-rows: 32px 300px 32px;
  min-height: 30vh;
  margin: 120px;
  background: var(--window-bg);
  box-shadow: var(--window-box-shadow);
}

.titlebar {
  grid-area: titlebar;
  display: grid;
  place-items: center;
  background: var(--titlebar-bg);
  color: var(--titlebar-fg);
}

.panel {
  grid-area: panel;
  width: 10vw;
  padding: var(--panel-padding);
  background: var(--panel-bg);
}

.view {
  grid-area: view;
  padding: var(--view-padding);
  background: var(--view-bg);
}

.status {
  grid-area: status;
  background: var(--status-bg);
}

button {
  padding: var(--button-padding);
  background: var(--button-bg);
  border: none;
  border-radius: var(--button-border-radius);
  box-shadow:  var(--button-box-shadow);
  color: var(--button-fg);
}
